<%-include('./Partials/head.ejs') %>

<h1>Welcome to the quiz editor!</h1>

<form action="/quizzes" method="POST" id="quiz-form">
    <div>
        <label for="quiz-name">Quiz Name:</label>
        <input type="text" id="quiz-name" name="name" required>
    </div>
    <div id="questions-container">
        <div class="question-item">
            <label for="question"><h3>Question:</h3></label>
            <input type="text" name="questions[0][text]" required>

            <label for="type"><h3>Question Type:</h3></label>
            <select name="questions[0][type]" class="question-type" required>
                <option value="free">Free Text</option>
                <option value="truefalse">True/False</option>
                <option value="multiplechoice">Multiple Choice</option>
            </select>

            <div class="answer-container">                <label for="answer"><h3>Answer:</h3></label>
                <!-- For free text -->
                <input type="text" name="questions[0][freeAnswer]" class="free-answer-input" required>

                <!-- For true/false -->
                <select name="questions[0][tfAnswer]" class="tf-answer-select" style="display: none;">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>

                <div class="multiple-choice-container" style="display: none;">
                    <div class="choice-item">
                        <input type="radio" name="questions[0][correctChoice]" value="0">
                        <input type="text" name="questions[0][choices][0]" placeholder="Choice 1">
                        <button type="button" class="remove-choice">Remove</button>
                    </div>
                    <div class="choice-item">
                        <input type="radio" name="questions[0][correctChoice]" value="1">
                        <input type="text" name="questions[0][choices][1]" placeholder="Choice 2">
                        <button type="button" class="remove-choice">Remove</button>
                    </div>
                    <button type="button" class="add-choice" data-question-index="0">Add Choice</button>
                </div>
            </div>
            <button type="button" class="remove-question">Remove Question</button>
        </div>
    </div>
    <div>
        <br>
        <button type="button" id="add-question">Add Another Question</button>
        <button type="submit">Save Quiz</button>
    </div>
</form>

<a class="button" href="/">Back</a>

<%-include('./Partials/foot.ejs') %>