<%-include('./Partials/head.ejs') %>

<h1>Log in!</h1>

<% if (typeof error !== 'undefined') { %>
  <div class="error-message"><%= error %></div>
<% } %>

<form action="/login" method="POST">
    <input type="email" name="email" placeholder="E-mail" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" class="button" value="Log In">
</form>

<div class="linkText">
    <a class="link" href="/register">Need an account? Register here</a>
</div>

<%-include('./Partials/foot.ejs') %>